{% extends "_base.html" %}

{% block title %}
Страница импорта CSV-файла
{% endblock title %}


{% block content %}
<div class="row">
    <h1>Это страница импорта CSV-файла</h1>
</div>
<div class="row">
    <div class="col-6">
        
        <form enctype="multipart/form-data" method="post">
            <div class="row">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <label for="formFileLg" class="form-label">Выберите файл</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
            </div>

            <div class="row">
                <input type="submit" value="Загрузить" class="btn btn-primary">
            <!-- <input type="file" name="file"> -->
            </div>
        
        </form>
    </div>
</div>
{% endblock content %}
