[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
pandas = "*"
marshmallow-sqlalchemy = "*"
dash = "*"
flask-wtf = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
